---
layout: archive
title: "Blog"
permalink: /blog/
author_profile: true
---

{% include base_path %}

<div>
  <h2>Welcome to My Blog</h2>
  <p>
    Here, I share my thoughts and insights on topics related to research and my life. From exploring the frontiers of machine learning to living life at MIT, I plan to use this blog to document my journey and let people know more about me.
  </p>
</div>

<div>
  <h2>Latest Posts</h2>
  <ul>
    {% for post in site.categories.blog reversed %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <p>{{ post.excerpt }}</p>
        <p><small>Posted on {{ post.date | date: "%B %d, %Y" }}</small></p>
      </li>
    {% endfor %}
    <li>
      <a href="/_blog/index.html">Deep Dive into Liquid Neural Networks</a>
      <p>My experiments with the architecture of Liquid Neural Networks</p>
      <!-- <p><small>Posted on January 1, 2024</small></p> -->
    </li>
  </ul>
</div>



<div>
  <h2>Get Involved</h2>
  <p>
    I welcome your thoughts and ideas! Feel free to connect with me or leave comments on my posts. Let’s spark conversations that inspire innovation and collaboration.
  </p>
</div>

